*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "./partials/variables";
@import "./partials/navbar";
@import "./partials/index"; 
@import "./partials/nosotros";
@import "./partials/preguntas";
@import "./partials/footer";