.divnosotros{
    width: $ancho;
    padding: 10px 30px;
}

.contenosotros{
    width: 100%;
    height: 610px;
    overflow: hidden;
    position: relative;
    margin: 100px auto;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.contenosotros img{
    width: 100%;
    height: 610px;
}

.contenosotros h1{
    font-size: 4rem;
    color: rgb(198, 198, 198);
    position: absolute;
    top: 4%;
    left: 23%;
    letter-spacing: 8px;
}

.contenosotros p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    color: rgb(198, 198, 198);
    position: absolute;
    top: 85%;
    left: 33%;
    letter-spacing: 8px;
}

.titulon{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    padding: 20px 20px;
}

.subtitulon{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 20px;
}
.parrafo1{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.titulop{
    color: rgb(0, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 30px;
    letter-spacing: 2px;

}

.parrafo2{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listamarcas{
    font-size: 1.5rem;
    padding-top: 15px 15px;
}

.parrafo3{
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: center;
}