@each $color in blue, red, gray, green {
    .#{$color}{
        background-color: $color;
    }
    
}

.caja{
    width: $ancho;
    height: $altura;
    padding: 20px 40px;
}

@media  only screen and (max-width: 768px) {

    @each $color in blue, red, gray, green {
        .#{$color}{
            background-color: $color;
        }
        
    }
    
    .caja{
        width: $ancho;
        height: $altura + 560;
        padding: 20px 40px;
    }


}