$bgbody: rgb(122, 122, 122);
$background-menu: rgb(237, 237, 237);
$titulo: black;
$subtitulo: black;
$titulotarjeta: rgb(95, 94, 94);
$beige: rgb(247, 247, 247);
$footer: rgb(176, 176, 176);

$ancho:100%;


$altura:250px;
